.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reg-form{
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reg-form div{
  width: 50%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.reg-form input{
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border:none;
}
.reg-form button{
  padding: 5px;
  border-radius: 5px;
  background-color: blue;
  border: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  
}

